[BASIC]
good-names=
    i,
    n,
    e,
    f,
    logger,
    df,
    # yaml file concepts
    DashID,
    Rows,
    legendConcept,
    Row,
    chartType,
    Title,
    Subtitle,
    Unit,
    unitLoc,
    UnitShow,
    UnitIcon,
    Decimals,
    LabelsYN,
    legendConcept,
    legendLoc,
    xAxisConcept,
    yAxisConcept,
    downloadYN,
    dsdLink,
    dataLink,
    metadataLink,
    DATA,